*{
    margin: 0;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: px;
    width: 100%;
    height: 700px;
}
.parent-back{
    background-image: url('./Assets/3629604.jpg');
    background-size: cover;
    border-right: 1px solid;
}
.parent-log{
    padding: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.def{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.def1{
    display: flex;
    flex-direction: column;
}
.def1 .def1back{
    width: 25px;
    height: 6px;
    border-radius: 4px;
    background:grey;
    margin: auto;
}
.def2{
    display: flex;
    flex-direction: column;
}
.def2 .def2back{
    width: 25px;
    height: 6px;
    border-radius: 4px;
    border: .2px solid lightgrey;
    background:white;
    margin: auto;
}
.login input{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}
.login label p{
    margin-bottom: 20px;
    text-align: right;
    margin-right: 47px;
}
.login button{
    width: 100px;
    height: 30px;
    background-color: rgb(12, 198, 240);
    border: hidden;
    border-radius: 5px;
    margin-left: 100px;
    color: azure;
}
i {
    transform: translatex(-120%);
    cursor: pointer;
  }
  .back-log{
    margin-left: 40px;
    color:#129fea;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 4rem;
}
.back-log h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color:#129fea;
    letter-spacing: 1px;
}
.back-log span {
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.next{
    margin-top: 60px;
    text-align: right;
}
.def1 input{
    width: 50px;
    height: 20px;
}
.def input:checked{
    background-color: lightgray;
}
.def2 input{
    width: 50px;
    height: 20px;
}